
body.portaltype-techoffer {
/*Make all grid-sized elements block level again*/

    .print-only {
        display: none;
    }

    .h-not-first > h3 {
        margin-top: 2rem;
    }

    @media only screen and (max-width: 639px){
        
        .row-fluid [class*="span"] {
            float: none !important;
            display: block !important;
            width: auto !important;
            margin-left: 0 !important;
        }

    }
  
    @media print {
       
        background: white; 
        font-size: 11px !important; 
        padding:0px !important;
        line-height: normal !important;

        #above-content-wrapper, 
        #content-header,
        #back-to-top,
        #portal-column-one,
        #global_statusmessage,
        #techoffer-tags-list,
        #social_tags,
        .portalMessage,
        .no-print {
            display: none !important; 
        }

        .container {
            margin: 0px !important;
            padding: 0px !important;
            max-width: 100% !important;
        }
        
        a, a:visited {
            color: black !important;
            text-decoration: none !important;
        }

        h1 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            font-size: 16px !important;
        }

        h3, h4 {
            font-size: 12px !important;
            margin-bottom: 0.2rem !important;
            margin-top: 0.2rem !important;
        }   
        h4 {
            margin-top: 1rem !important;
        }

        #parent-fieldname-text {
            margin-top: 10px !important;
        }

        #content-core, #main-container, .row-fluid [class*="span"]{
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;
        }
        
        .box, header, p {
            margin-bottom: 0px !important;
        }

        .box {
            padding: 5px !important;
            text-align: justify !important;
        }

        .card {
            padding: 2px !important;
            margin: 0 !important;
        }

        .print-only {
            display: initial !important;   
        }

        

        #head-upc-logo, img#head-upc-logo{
            margin-bottom: 1rem !important;
            max-width: 250px;
        }
        
        .print-no-break {
            break-inside: avoid !important;
        }

    }
}