/* line 2, ../scss/_techoffer.scss */
body.portaltype-techoffer {
  /*Make all grid-sized elements block level again*/
}
@media only screen and (max-width: 639px) {
  /* line 7, ../scss/_techoffer.scss */
  body.portaltype-techoffer .row-fluid [class*="span"] {
    float: none !important;
    display: block !important;
    width: auto !important;
    margin-left: 0 !important;
  }
  /* line 14, ../scss/_techoffer.scss */
  body.portaltype-techoffer .print-only {
    display: none !important;
  }
}
@media print {
  /* line 2, ../scss/_techoffer.scss */
  body.portaltype-techoffer {
    background: white;
    font-size: 12pt !important;
    padding: 0px !important;
  }
  /* line 26, ../scss/_techoffer.scss */
  body.portaltype-techoffer #above-content-wrapper,
  body.portaltype-techoffer #content-header,
  body.portaltype-techoffer #back-to-top,
  body.portaltype-techoffer #portal-column-one {
    display: none !important;
  }
  /* line 33, ../scss/_techoffer.scss */
  body.portaltype-techoffer .container {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
  }
  /* line 39, ../scss/_techoffer.scss */
  body.portaltype-techoffer a, body.portaltype-techoffer a:visited {
    color: black !important;
    text-decoration: none !important;
  }
  /* line 45, ../scss/_techoffer.scss */
  body.portaltype-techoffer h3, body.portaltype-techoffer h4 {
    font-size: 16pt !important;
    margin-bottom: 0.5rem !important;
  }
  /* line 50, ../scss/_techoffer.scss */
  body.portaltype-techoffer .box, body.portaltype-techoffer #content-core, body.portaltype-techoffer #main-container, body.portaltype-techoffer .row-fluid [class*="span"] {
    margin-bottom: 0px !important;
  }
}
